In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
#extract data from csv file and make into a DataFrame
happy_planet = '../Project_2_Team_5/Resources/Happy_planet_index_public_2015-20.csv'
hp_df = pd.read_csv(happy_planet)

hp_df.head()

,HPI rank,Country,ISO,Unnamed: 3,Continent,Population (thousands),Life Expectancy (years),Ladder of life (Wellbeing) (0-10),Ecological Footprint (g ha),HPI,Biocapacity for year \n(g ha),GDP per capita ($)
0,94.0,Afghanistan,AFG,2015AFG,6.0,34413.603,63.4,3.982855,0.705663,40.100808,1.61,2068.265904
1,83.0,Afghanistan,AFG,2016AFG,6.0,35383.028,63.8,4.220169,0.701342,42.042749,1.60,2057.062164
2,143.0,Afghanistan,AFG,2017AFG,6.0,36296.111,64.1,2.661718,0.664047,31.463232,1.60,2058.383832
3,140.0,Afghanistan,AFG,2018AFG,6.0,37171.922,64.5,2.694303,0.726989,31.540554,1.57,2033.779002
4,146.0,Afghanistan,AFG,2019AFG,6.0,38041.800,64.8,2.380000,0.730000,29.400000,1.56,2065

Drop columns  ISO, continent, Biocapacity for year /n(g ha), GDP per capita($)

In [3]:
hp_simple = hp_df.drop(columns = ["HPI rank", "ISO", "Continent", "Ladder of life (Wellbeing) (0-10)", "Ecological Footprint (g ha)", "Biocapacity for year \n(g ha)", "GDP per capita ($)"])
hp_simple.head(40)

,Country,Unnamed: 3,Population (thousands),Life Expectancy (years),HPI
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000
5,Afghanistan,2020AFG,38928.300,64.9,NaN
6,Albania,2015ALB,2890.524,78.0,47.574180
7,Albania,2016ALB,2886.427,78.2,47.427764
8,Albania,2017ALB,2884.169,78.3,47.917561
9,Albania,2018ALB,2882.735,78.5,50.821740
10,Albania,2019ALB,2880.900,78.6,51.000000
11,Albania,2020ALB,2877.800,78.1,54.300000
12,Algeria,2015DZA,39728.020,76.1,52.059482
13,Algeria,2016DZA,40551.398,76.3,49.647017
14,Algeria,2017DZA,41389.174,76.5,49.485007
15,Algeria,2018DZA,42228.415,76.7,48.184619
16,Algeria,2019DZA,43053.100,76.9,46.500000
17,Algeria,2020DZA,43851.000,76.9,NaN
18,Argentina,2015ARG,43075.416,76.1,51.438338
19,Argentina,2016ARG,43508.459,76.2,51.990752
20,Argentina,2017ARG,43937.143,76.4,49.155725
21,Argentina,2018ARG,44361.150,76.5,47.755142
22,Argentina,2019ARG,44780.700,76.7,50.000000
23,Argentina,2020ARG,45195.800,75.2,48.400000
24,Armenia,2015ARM,2925.559,74.5,43.898805
25,Armenia,2016ARM,2936.147,74.6,44.137516
26,Armenia,2017ARM,2944.789,74.8,44.367794
27,Armenia,2018ARM,2951.741,74.9,50.363762
28,Armenia,2019ARM,2957.700,75.1,54.700000
29,Armenia,2020ARM,2963.200,74.0,NaN
30,Australia,2015AUS,23932.499,82.8,47.566847
31,Australia,2016AUS,24262.710,83.0,46.885393
32,Australia,2017AUS,24584.619,83.1,44.068091
33,Australia,2018AUS,24898.153,83.3,43.277780
34,Australia,2019AUS,25203.200,83.4,43.100000
35,Australia,2020AUS,25499.900,83.4,44.500000
36,Austria,2015AUT,8678.667,81.2,47.031339
37,Austria,2016AUT,8747.306,81.3,46.938544
38,Austria,2017AUT,8819.902,81.3,47.536319
39,Austria,2018AUT,8891.383,81.4,48.052221

Rename column 3 to Year/Ctry Code, and Column 6 to Happy Planet Index

In [4]:
hp_simple.rename(columns = {"Country": "country", "Unnamed: 3" : "year_ctry_code", "Population (thousands)": "population_thousands",
"Life Expectancy (years)": "life_expectancy_years", "HPI" : "happy_planet_index", }, inplace=True)
hp_simple.head(40)

,country,year_ctry_code,population_thousands,life_expectancy_years,happy_planet_index
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000
5,Afghanistan,2020AFG,38928.300,64.9,NaN
6,Albania,2015ALB,2890.524,78.0,47.574180
7,Albania,2016ALB,2886.427,78.2,47.427764
8,Albania,2017ALB,2884.169,78.3,47.917561
9,Albania,2018ALB,2882.735,78.5,50.821740
10,Albania,2019ALB,2880.900,78.6,51.000000
11,Albania,2020ALB,2877.800,78.1,54.300000
12,Algeria,2015DZA,39728.020,76.1,52.059482
13,Algeria,2016DZA,40551.398,76.3,49.647017
14,Algeria,2017DZA,41389.174,76.5,49.485007
15,Algeria,2018DZA,42228.415,76.7,48.184619
16,Algeria,2019DZA,43053.100,76.9,46.500000
17,Algeria,2020DZA,43851.000,76.9,NaN
18,Argentina,2015ARG,43075.416,76.1,51.438338
19,Argentina,2016ARG,43508.459,76.2,51.990752
20,Argentina,2017ARG,43937.143,76.4,49.155725
21,Argentina,2018ARG,44361.150,76.5,47.755142
22,Argentina,2019ARG,44780.700,76.7,50.000000
23,Argentina,2020ARG,45195.800,75.2,48.400000
24,Armenia,2015ARM,2925.559,74.5,43.898805
25,Armenia,2016ARM,2936.147,74.6,44.137516
26,Armenia,2017ARM,2944.789,74.8,44.367794
27,Armenia,2018ARM,2951.741,74.9,50.363762
28,Armenia,2019ARM,2957.700,75.1,54.700000
29,Armenia,2020ARM,2963.200,74.0,NaN
30,Australia,2015AUS,23932.499,82.8,47.566847
31,Australia,2016AUS,24262.710,83.0,46.885393
32,Australia,2017AUS,24584.619,83.1,44.068091
33,Australia,2018AUS,24898.153,83.3,43.277780
34,Australia,2019AUS,25203.200,83.4,43.100000
35,Australia,2020AUS,25499.900,83.4,44.500000
36,Austria,2015AUT,8678.667,81.2,47.031339
37,Austria,2016AUT,8747.306,81.3,46.938544
38,Austria,2017AUT,8819.902,81.3,47.536319
39,Austria,2018AUT,8891.383,81.4,48.052221

In [5]:
# hp_year = hp_simple["Year/Ctry Code"]
hp_simple['year'] = hp_simple['year_ctry_code'].str[:-3]
print(hp_simple['year'])

0      2015
1      2016
2      2017
3      2018
4      2019
       ...
909    2018
910    2019
911    2020
912     NaN
913     NaN
Name: year, Length: 914, dtype: object

In [6]:
# print new database
hp_simple.head()

,country,year_ctry_code,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,2015AFG,34413.603,63.4,40.100808,2015
1,Afghanistan,2016AFG,35383.028,63.8,42.042749,2016
2,Afghanistan,2017AFG,36296.111,64.1,31.463232,2017
3,Afghanistan,2018AFG,37171.922,64.5,31.540554,2018
4,Afghanistan,2019AFG,38041.800,64.8,29.400000,2019

Dropping the "year_ctry_code" column

In [7]:
hp_simple = hp_simple.drop(columns = ["year_ctry_code"])
hp_simple.head(40)

,country,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,34413.603,63.4,40.100808,2015
1,Afghanistan,35383.028,63.8,42.042749,2016
2,Afghanistan,36296.111,64.1,31.463232,2017
3,Afghanistan,37171.922,64.5,31.540554,2018
4,Afghanistan,38041.800,64.8,29.400000,2019
5,Afghanistan,38928.300,64.9,NaN,2020
6,Albania,2890.524,78.0,47.574180,2015
7,Albania,2886.427,78.2,47.427764,2016
8,Albania,2884.169,78.3,47.917561,2017
9,Albania,2882.735,78.5,50.821740,2018
10,Albania,2880.900,78.6,51.000000,2019
11,Albania,2877.800,78.1,54.300000,2020
12,Algeria,39728.020,76.1,52.059482,2015
13,Algeria,40551.398,76.3,49.647017,2016
14,Algeria,41389.174,76.5,49.485007,2017
15,Algeria,42228.415,76.7,48.184619,2018
16,Algeria,43053.100,76.9,46.500000,2019
17,Algeria,43851.000,76.9,NaN,2020
18,Argentina,43075.416,76.1,51.438338,2015
19,Argentina,43508.459,76.2,51.990752,2016
20,Argentina,43937.143,76.4,49.155725,2017
21,Argentina,44361.150,76.5,47.755142,2018
22,Argentina,44780.700,76.7,50.000000,2019
23,Argentina,45195.800,75.2,48.400000,2020
24,Armenia,2925.559,74.5,43.898805,2015
25,Armenia,2936.147,74.6,44.137516,2016
26,Armenia,2944.789,74.8,44.367794,2017
27,Armenia,2951.741,74.9,50.363762,2018
28,Armenia,2957.700,75.1,54.700000,2019
29,Armenia,2963.200,74.0,NaN,2020
30,Australia,23932.499,82.8,47.566847,2015
31,Australia,24262.710,83.0,46.885393,2016
32,Australia,24584.619,83.1,44.068091,2017
33,Australia,24898.153,83.3,43.277780,2018
34,Australia,25203.200,83.4,43.100000,2019
35,Australia,25499.900,83.4,44.500000,2020
36,Austria,8678.667,81.2,47.031339,2015
37,Austria,8747.306,81.3,46.938544,2016
38,Austria,8819.902,81.3,47.536319,2017
39,Austria,8891.383,81.4,48.052221,2018

Dropping the Null values in the dataframe

In [8]:
hp_clean = hp_simple.dropna(how='any')
hp_clean.count()

country                  813
population_thousands     813
life_expectancy_years    813
happy_planet_index       813
year                     813
dtype: int64

Find Countries that have data from all years

In [10]:
hp_clean["year"].value_counts()

2019    152
2017    147
2018    146
2015    140
2016    140
2020     88
Name: year, dtype: int64

Separating data by year

In [12]:

only_2019 = hp_clean.loc[hp_clean["year"] == "2019",:]
only_2018 = hp_clean.loc[hp_clean["year"] == "2018",:]
only_2017 = hp_clean.loc[hp_clean["year"] == "2017",:]
only_2016 = hp_clean.loc[hp_clean["year"] == "2016",:]
only_2015 = hp_clean.loc[hp_clean["year"] == "2015",:]

only_2015["country"]
only_2016["country"]
only_2017["country"]
only_2018["country"]
only_2019["country"]

11                      Albania
23                    Argentina
35                    Australia
41                      Austria
53                      Bahrain
                 ...
863    United States of America
869                     Uruguay
887                   Venezuela
905                      Zambia
911                    Zimbabwe
Name: country, Length: 88, dtype: object

In [14]:
only_2016["country"]

1      Afghanistan
7          Albania
13         Algeria
19       Argentina
25         Armenia
          ...
883      Venezuela
889        Vietnam
895          Yemen
901         Zambia
907       Zimbabwe
Name: country, Length: 140, dtype: object

finding the countries that have complete data for 2015, 2016, 2017, 2018, 2019, and making a final database sorted by country.

In [21]:
common = \
    set.intersection(set(only_2015["country"]), set(only_2016["country"]), set(only_2017["country"]), set(only_2018["country"]), set(only_2019["country"]))

common_country_hpi = pd.concat([
    only_2015[only_2015["country"].isin(common)],
    only_2016[only_2016["country"].isin(common)],
    only_2017[only_2017["country"].isin(common)],
    only_2018[only_2018["country"].isin(common)],
    only_2019[only_2019["country"].isin(common)]]).sort_values(by='country')

common_country_hpi.sort_values(by= 'country').head(50)

,country,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,34413.603,63.4,40.100808,2015
4,Afghanistan,38041.800,64.8,29.400000,2019
1,Afghanistan,35383.028,63.8,42.042749,2016
3,Afghanistan,37171.922,64.5,31.540554,2018
2,Afghanistan,36296.111,64.1,31.463232,2017
6,Albania,2890.524,78.0,47.574180,2015
10,Albania,2880.900,78.6,51.000000,2019
7,Albania,2886.427,78.2,47.427764,2016
8,Albania,2884.169,78.3,47.917561,2017
9,Albania,2882.735,78.5,50.821740,2018
15,Algeria,42228.415,76.7,48.184619,2018
14,Algeria,41389.174,76.5,49.485007,2017
12,Algeria,39728.020,76.1,52.059482,2015
13,Algeria,40551.398,76.3,49.647017,2016
16,Algeria,43053.100,76.9,46.500000,2019
19,Argentina,43508.459,76.2,51.990752,2016
20,Argentina,43937.143,76.4,49.155725,2017
22,Argentina,44780.700,76.7,50.000000,2019
18,Argentina,43075.416,76.1,51.438338,2015
21,Argentina,44361.150,76.5,47.755142,2018
26,Armenia,2944.789,74.8,44.367794,2017
27,Armenia,2951.741,74.9,50.363762,2018
24,Armenia,2925.559,74.5,43.898805,2015
25,Armenia,2936.147,74.6,44.137516,2016
28,Armenia,2957.700,75.1,54.700000,2019
34,Australia,25203.200,83.4,43.100000,2019
31,Australia,24262.710,83.0,46.885393,2016
32,Australia,24584.619,83.1,44.068091,2017
30,Australia,23932.499,82.8,47.566847,2015
33,Australia,24898.153,83.3,43.277780,2018
37,Austria,8747.306,81.3,46.938544,2016
40,Austria,8955.100,81.5,46.800000,2019
36,Austria,8678.667,81.2,47.031339,2015
38,Austria,8819.902,81.3,47.536319,2017
39,Austria,8891.383,81.4,48.052221,2018
44,Azerbaijan,9845.316,72.7,47.880778,2017
45,Azerbaijan,9949.537,72.9,48.007917,2018
46,Azerbaijan,10047.700,73.0,48.000000,2019
42,Azerbaijan,9622.741,72.3,46.524539,2015
43,Azerbaijan,9736.041,72.5,48.847196,2016
50,Bahrain,1494.077,77.0,32.695139,2017
51,Bahrain,1569.440,77.2,33.488585,2018
48,Bahrain,1371.853,76.8,36.548102,2015
49,Bahrain,1425.793,76.9,32.243232,2016
52,Bahrain,1641.200,77.3,33.600000,2019
55,Bangladesh,157977.151,71.8,50.191694,2016
58,Bangladesh,163046.200,72.6,54.500000,2019
57,Bangladesh,161376.713,72.3,49.734753,2018
54,Bangladesh,156256.287,71.5,50.296280,2015
56,Bangladesh,159685.421,72.1,48.376292,2017

Save Data Frame to a csv file

In [22]:
common_country_hpi.to_csv('../Project_2_Team_5/Outputs/hpi_final_2015-19')