In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine

In [2]:
#extract data from csv file and make into a DataFrame
happy_planet = '../Project_2_Team_5/Resources/Happy_planet_index_public_2015-20.csv'
hp_df = pd.read_csv(happy_planet)

hp_df.head()

,HPI rank,Country,ISO,Unnamed: 3,Continent,Population (thousands),Life Expectancy (years),Ladder of life (Wellbeing) (0-10),Ecological Footprint (g ha),HPI,Biocapacity for year \n(g ha),GDP per capita ($)
0,94.0,Afghanistan,AFG,2015AFG,6.0,34413.603,63.4,3.982855,0.705663,40.100808,1.61,2068.265904
1,83.0,Afghanistan,AFG,2016AFG,6.0,35383.028,63.8,4.220169,0.701342,42.042749,1.60,2057.062164
2,143.0,Afghanistan,AFG,2017AFG,6.0,36296.111,64.1,2.661718,0.664047,31.463232,1.60,2058.383832
3,140.0,Afghanistan,AFG,2018AFG,6.0,37171.922,64.5,2.694303,0.726989,31.540554,1.57,2033.779002
4,146.0,Afghanistan,AFG,2019AFG,6.0,38041.800,64.8,2.380000,0.730000,29.400000,1.56,2065

Drop columns  ISO, continent, Biocapacity for year /n(g ha), GDP per capita($)

In [3]:
hp_simple = hp_df.drop(columns = ["HPI rank", "ISO", "Continent", "Ladder of life (Wellbeing) (0-10)", "Ecological Footprint (g ha)", "Biocapacity for year \n(g ha)", "GDP per capita ($)"])
hp_simple.head()

,Country,Unnamed: 3,Population (thousands),Life Expectancy (years),HPI
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000

Rename column 3 to Year/Ctry Code, and Column 6 to Happy Planet Index

In [4]:
hp_simple.rename(columns = {"Country": "country", "Unnamed: 3" : "year_ctry_code", "Population (thousands)": "population_thousands",
"Life Expectancy (years)": "life_expectancy_years", "HPI" : "happy_planet_index", }, inplace=True)
hp_simple.head()

,country,year_ctry_code,population_thousands,life_expectancy_years,happy_planet_index
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000

In [5]:
# hp_year = hp_simple["Year/Ctry Code"]
hp_simple['year'] = hp_simple['year_ctry_code'].str[:-3]
print(hp_simple['year'])

0      2015
1      2016
2      2017
3      2018
4      2019
       ...
909    2018
910    2019
911    2020
912     NaN
913     NaN
Name: year, Length: 914, dtype: object

In [6]:
# print new database
hp_simple.head()

,country,year_ctry_code,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,2015AFG,34413.603,63.4,40.100808,2015
1,Afghanistan,2016AFG,35383.028,63.8,42.042749,2016
2,Afghanistan,2017AFG,36296.111,64.1,31.463232,2017
3,Afghanistan,2018AFG,37171.922,64.5,31.540554,2018
4,Afghanistan,2019AFG,38041.800,64.8,29.400000,2019

Dropping the "year_ctry_code" column

In [7]:
hp_simple1 = hp_simple.drop(columns = ["year_ctry_code"])
hp_simple1.head()

,country,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,34413.603,63.4,40.100808,2015
1,Afghanistan,35383.028,63.8,42.042749,2016
2,Afghanistan,36296.111,64.1,31.463232,2017
3,Afghanistan,37171.922,64.5,31.540554,2018
4,Afghanistan,38041.800,64.8,29.400000,2019

Dropping the Null values in the dataframe

In [8]:
hp_clean = hp_simple.dropna(how='any')
hp_clean.count()

country                  813
year_ctry_code           813
population_thousands     813
life_expectancy_years    813
happy_planet_index       813
year                     813
dtype: int64

Find Countries that have data from all years

In [9]:
hp_clean["year"].value_counts()

2019    152
2017    147
2018    146
2015    140
2016    140
2020     88
Name: year, dtype: int64

Separating data by year

In [10]:

only_2019 = hp_clean.loc[hp_clean["year"] == "2019",:]
only_2018 = hp_clean.loc[hp_clean["year"] == "2018",:]
only_2017 = hp_clean.loc[hp_clean["year"] == "2017",:]
only_2016 = hp_clean.loc[hp_clean["year"] == "2016",:]
only_2015 = hp_clean.loc[hp_clean["year"] == "2015",:]

only_2015["country"]
only_2016["country"]
only_2017["country"]
only_2018["country"]
only_2019["country"]

4      Afghanistan
10         Albania
16         Algeria
22       Argentina
28         Armenia
          ...
886      Venezuela
892        Vietnam
898          Yemen
904         Zambia
910       Zimbabwe
Name: country, Length: 152, dtype: object

In [11]:
only_2016["country"]

1      Afghanistan
7          Albania
13         Algeria
19       Argentina
25         Armenia
          ...
883      Venezuela
889        Vietnam
895          Yemen
901         Zambia
907       Zimbabwe
Name: country, Length: 140, dtype: object

finding the countries that have complete data for 2015, 2016, 2017, 2018, 2019, and making a final database sorted by country.

In [12]:
common = \
    set.intersection(set(only_2015["country"]), set(only_2016["country"]), set(only_2017["country"]), set(only_2018["country"]), set(only_2019["country"]))

common_country_hpi = pd.concat([
    only_2015[only_2015["country"].isin(common)],
    only_2016[only_2016["country"].isin(common)],
    only_2017[only_2017["country"].isin(common)],
    only_2018[only_2018["country"].isin(common)],
    only_2019[only_2019["country"].isin(common)]]).sort_values(by='country')

common_country_hpi1 = common_country_hpi.drop(columns = ["year_ctry_code"])
common_country_hpi1.head()

common_country_hpi1.sort_values(by= 'country').head()

,country,population_thousands,life_expectancy_years,happy_planet_index,year
0,Afghanistan,34413.603,63.4,40.100808,2015
4,Afghanistan,38041.800,64.8,29.400000,2019
1,Afghanistan,35383.028,63.8,42.042749,2016
3,Afghanistan,37171.922,64.5,31.540554,2018
2,Afghanistan,36296.111,64.1,31.463232,2017

Save Data Frame to a csv file

In [13]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'happiness'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [14]:
engine.table_names()

/Users/jenny/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['wh_final', 'homicide_final', 'hpi_final_2015_19']

In [15]:
common_country_hpi1.to_sql(name = "hpi_final_2015_19", con=engine, if_exists="append", index = False)