In [61]:
import pandas as pd
import numpy as np
import json
from pprint import pprint
import requests

In [3]:
#extract data from csv file and make into a DataFrame
happy_planet = '../Project_2_Team_5/Resources/Happy_planet_index_public_2015-20.csv'
hp_df = pd.read_csv(happy_planet)

hp_df.head()

,HPI rank,Country,ISO,Unnamed: 3,Continent,Population (thousands),Life Expectancy (years),Ladder of life (Wellbeing) (0-10),Ecological Footprint (g ha),HPI,Biocapacity for year \n(g ha),GDP per capita ($)
0,94.0,Afghanistan,AFG,2015AFG,6.0,34413.603,63.4,3.982855,0.705663,40.100808,1.61,2068.265904
1,83.0,Afghanistan,AFG,2016AFG,6.0,35383.028,63.8,4.220169,0.701342,42.042749,1.60,2057.062164
2,143.0,Afghanistan,AFG,2017AFG,6.0,36296.111,64.1,2.661718,0.664047,31.463232,1.60,2058.383832
3,140.0,Afghanistan,AFG,2018AFG,6.0,37171.922,64.5,2.694303,0.726989,31.540554,1.57,2033.779002
4,146.0,Afghanistan,AFG,2019AFG,6.0,38041.800,64.8,2.380000,0.730000,29.400000,1.56,2065

Drop columns  ISO, continent, Biocapacity for year /n(g ha), GDP per capita($)

In [70]:
hp_simple = hp_df.drop(columns = ["HPI rank", "ISO", "Continent", "Ladder of life (Wellbeing) (0-10)", "Ecological Footprint (g ha)", "Biocapacity for year \n(g ha)", "GDP per capita ($)"])
hp_simple.head(40)

,Country,Unnamed: 3,Population (thousands),Life Expectancy (years),HPI
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000
5,Afghanistan,2020AFG,38928.300,64.9,NaN
6,Albania,2015ALB,2890.524,78.0,47.574180
7,Albania,2016ALB,2886.427,78.2,47.427764
8,Albania,2017ALB,2884.169,78.3,47.917561
9,Albania,2018ALB,2882.735,78.5,50.821740
10,Albania,2019ALB,2880.900,78.6,51.000000
11,Albania,2020ALB,2877.800,78.1,54.300000
12,Algeria,2015DZA,39728.020,76.1,52.059482
13,Algeria,2016DZA,40551.398,76.3,49.647017
14,Algeria,2017DZA,41389.174,76.5,49.485007
15,Algeria,2018DZA,42228.415,76.7,48.184619
16,Algeria,2019DZA,43053.100,76.9,46.500000
17,Algeria,2020DZA,43851.000,76.9,NaN
18,Argentina,2015ARG,43075.416,76.1,51.438338
19,Argentina,2016ARG,43508.459,76.2,51.990752
20,Argentina,2017ARG,43937.143,76.4,49.155725
21,Argentina,2018ARG,44361.150,76.5,47.755142
22,Argentina,2019ARG,44780.700,76.7,50.000000
23,Argentina,2020ARG,45195.800,75.2,48.400000
24,Armenia,2015ARM,2925.559,74.5,43.898805
25,Armenia,2016ARM,2936.147,74.6,44.137516
26,Armenia,2017ARM,2944.789,74.8,44.367794
27,Armenia,2018ARM,2951.741,74.9,50.363762
28,Armenia,2019ARM,2957.700,75.1,54.700000
29,Armenia,2020ARM,2963.200,74.0,NaN
30,Australia,2015AUS,23932.499,82.8,47.566847
31,Australia,2016AUS,24262.710,83.0,46.885393
32,Australia,2017AUS,24584.619,83.1,44.068091
33,Australia,2018AUS,24898.153,83.3,43.277780
34,Australia,2019AUS,25203.200,83.4,43.100000
35,Australia,2020AUS,25499.900,83.4,44.500000
36,Austria,2015AUT,8678.667,81.2,47.031339
37,Austria,2016AUT,8747.306,81.3,46.938544
38,Austria,2017AUT,8819.902,81.3,47.536319
39,Austria,2018AUT,8891.383,81.4,48.052221

Rename column 3 to Year/Ctry Code, and Column 6 to Happy Planet Index

In [71]:
hp_simple.rename(columns = {"Unnamed: 3" : "Year/Ctry Code", "HPI" : "Happy Planet Index"}, inplace=True)
hp_simple.head(40)

,Country,Year/Ctry Code,Population (thousands),Life Expectancy (years),Happy Planet Index
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000
5,Afghanistan,2020AFG,38928.300,64.9,NaN
6,Albania,2015ALB,2890.524,78.0,47.574180
7,Albania,2016ALB,2886.427,78.2,47.427764
8,Albania,2017ALB,2884.169,78.3,47.917561
9,Albania,2018ALB,2882.735,78.5,50.821740
10,Albania,2019ALB,2880.900,78.6,51.000000
11,Albania,2020ALB,2877.800,78.1,54.300000
12,Algeria,2015DZA,39728.020,76.1,52.059482
13,Algeria,2016DZA,40551.398,76.3,49.647017
14,Algeria,2017DZA,41389.174,76.5,49.485007
15,Algeria,2018DZA,42228.415,76.7,48.184619
16,Algeria,2019DZA,43053.100,76.9,46.500000
17,Algeria,2020DZA,43851.000,76.9,NaN
18,Argentina,2015ARG,43075.416,76.1,51.438338
19,Argentina,2016ARG,43508.459,76.2,51.990752
20,Argentina,2017ARG,43937.143,76.4,49.155725
21,Argentina,2018ARG,44361.150,76.5,47.755142
22,Argentina,2019ARG,44780.700,76.7,50.000000
23,Argentina,2020ARG,45195.800,75.2,48.400000
24,Armenia,2015ARM,2925.559,74.5,43.898805
25,Armenia,2016ARM,2936.147,74.6,44.137516
26,Armenia,2017ARM,2944.789,74.8,44.367794
27,Armenia,2018ARM,2951.741,74.9,50.363762
28,Armenia,2019ARM,2957.700,75.1,54.700000
29,Armenia,2020ARM,2963.200,74.0,NaN
30,Australia,2015AUS,23932.499,82.8,47.566847
31,Australia,2016AUS,24262.710,83.0,46.885393
32,Australia,2017AUS,24584.619,83.1,44.068091
33,Australia,2018AUS,24898.153,83.3,43.277780
34,Australia,2019AUS,25203.200,83.4,43.100000
35,Australia,2020AUS,25499.900,83.4,44.500000
36,Austria,2015AUT,8678.667,81.2,47.031339
37,Austria,2016AUT,8747.306,81.3,46.938544
38,Austria,2017AUT,8819.902,81.3,47.536319
39,Austria,2018AUT,8891.383,81.4,48.052221

In [99]:
# hp_year = hp_simple["Year/Ctry Code"]
hp_simple['Year'] = hp_simple['Year/Ctry Code'].str[:-3]

# hp_year_str = str(hp_year)
print(hp_simple['Year'])

0      2015
1      2016
2      2017
3      2018
4      2019
       ...
909    2018
910    2019
911    2020
912     NaN
913     NaN
Name: Year, Length: 914, dtype: object

In [96]:
df1['Year'] = df1['Year/Ctry Code'].str[-3:]

dtype('O')

In [81]:
hp_year.index.str.extract("(?P<letter>[a-zA-Z])", expand=True)

AttributeError: Can only use .str accessor with string values!

Drop Countries without HPI data for 2020

In [75]:
#hp_simple.dropna(inplace=True)
hp_simple.head(40)

,Country,Year/Ctry Code,Population (thousands),Life Expectancy (years),Happy Planet Index
0,Afghanistan,2015AFG,34413.603,63.4,40.100808
1,Afghanistan,2016AFG,35383.028,63.8,42.042749
2,Afghanistan,2017AFG,36296.111,64.1,31.463232
3,Afghanistan,2018AFG,37171.922,64.5,31.540554
4,Afghanistan,2019AFG,38041.800,64.8,29.400000
5,Afghanistan,2020AFG,38928.300,64.9,NaN
6,Albania,2015ALB,2890.524,78.0,47.574180
7,Albania,2016ALB,2886.427,78.2,47.427764
8,Albania,2017ALB,2884.169,78.3,47.917561
9,Albania,2018ALB,2882.735,78.5,50.821740
10,Albania,2019ALB,2880.900,78.6,51.000000
11,Albania,2020ALB,2877.800,78.1,54.300000
12,Algeria,2015DZA,39728.020,76.1,52.059482
13,Algeria,2016DZA,40551.398,76.3,49.647017
14,Algeria,2017DZA,41389.174,76.5,49.485007
15,Algeria,2018DZA,42228.415,76.7,48.184619
16,Algeria,2019DZA,43053.100,76.9,46.500000
17,Algeria,2020DZA,43851.000,76.9,NaN
18,Argentina,2015ARG,43075.416,76.1,51.438338
19,Argentina,2016ARG,43508.459,76.2,51.990752
20,Argentina,2017ARG,43937.143,76.4,49.155725
21,Argentina,2018ARG,44361.150,76.5,47.755142
22,Argentina,2019ARG,44780.700,76.7,50.000000
23,Argentina,2020ARG,45195.800,75.2,48.400000
24,Armenia,2015ARM,2925.559,74.5,43.898805
25,Armenia,2016ARM,2936.147,74.6,44.137516
26,Armenia,2017ARM,2944.789,74.8,44.367794
27,Armenia,2018ARM,2951.741,74.9,50.363762
28,Armenia,2019ARM,2957.700,75.1,54.700000
29,Armenia,2020ARM,2963.200,74.0,NaN
30,Australia,2015AUS,23932.499,82.8,47.566847
31,Australia,2016AUS,24262.710,83.0,46.885393
32,Australia,2017AUS,24584.619,83.1,44.068091
33,Australia,2018AUS,24898.153,83.3,43.277780
34,Australia,2019AUS,25203.200,83.4,43.100000
35,Australia,2020AUS,25499.900,83.4,44.500000
36,Austria,2015AUT,8678.667,81.2,47.031339
37,Austria,2016AUT,8747.306,81.3,46.938544
38,Austria,2017AUT,8819.902,81.3,47.536319
39,Austria,2018AUT,8891.383,81.4,48.052221

#drop all values from 2020