In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.45-cp37-cp37m-macosx_10_15_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 2.1 MB/s eta 0:00:01
Collecting greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading greenlet-2.0.1-cp37-cp37m-macosx_10_15_x86_64.whl (202 kB)
     |████████████████████████████████| 202 kB 13.6 MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/jenny/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /Users/jenny/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /Users/jenny/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.7.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 sqlalchemy-1.4.45

In [4]:
# Path to data set in a variable
homicide = "../Project_2_Team_5/Resources/Homicide_data.csv"

In [5]:
# Use Pandas to read data
hc_df = pd.read_csv(homicide) 
hc_df.head()

# Drop columns
hc_df_drop = hc_df.drop(columns=['Subregion', 'Region', '2020'])
hc_df_drop.head()

# Sort ascending
hc_df_sorted = hc_df_drop.sort_values(by='country', ascending=True)
hc_df_sorted.head() 

# Drop "NaN" rows
hc_df_drop_nan = hc_df_sorted.dropna()
hc_df_drop_nan

                      country     2015     2016     2017     2018     2019
1                     Albania     64.0     79.0     58.0     66.0     65.0
8                   Argentina   2837.0   2625.0   2317.0   2387.0   2303.0
9                     Armenia     75.0     87.0     70.0     50.0     73.0
11                  Australia    236.0    227.0    208.0    221.0    225.0
12                    Austria     46.0     54.0     70.0     86.0     77.0
..                        ...      ...      ...      ...      ...      ...
181       Trinidad and Tobago    420.0    463.0    494.0    516.0    538.0
183                    Turkey   2235.0   2704.0   2541.0   2154.0     26.0
192  United States of America  15883.0  17413.0  17294.0  16374.0  16425.0
194                   Uruguay    293.0    267.0    283.0    416.0    392.0
195                Uzbekistan    506.0    757.0    591.0    474.0    396.0

[83 rows x 6 columns]

In [6]:
# Flip "Years" columns in rows
hc_df_fliped = hc_df_drop_nan.melt(id_vars=["country"], 
        var_name="year", 
        value_name= "homicide_victims_by_counts_per_100,000_population")
hc_df_fliped

# Sort ascending
hc_df_sorted2 = hc_df_fliped.sort_values(by='country', ascending=True)
hc_df_sorted2.head(100)

             country  year  homicide_victims_by_counts_per_100,000_population
0            Albania  2015                                               64.0
332          Albania  2019                                               65.0
83           Albania  2016                                               79.0
249          Albania  2018                                               66.0
166          Albania  2017                                               58.0
..               ...   ...                                                ...
19   China Macao SAR  2015                                                1.0
268  China Macao SAR  2018                                                2.0
102  China Macao SAR  2016                                                1.0
351  China Macao SAR  2019                                                2.0
185  China Macao SAR  2017                                                2.0

[100 rows x 3 columns]

In [7]:
# Count ununique namber of countries
hc_df_sorted2.nunique()

country                                               83
year                                                   5
homicide_victims_by_counts_per_100,000_population    276
dtype: int64

In [8]:
# Show ununique values
hc_df_sorted2.country.unique()

array(['Albania', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus',
       'Belize', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'China Macao SAR', 'China, Hong Kong SAR',
       'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Denmark',
       'Dominica', 'Ecuador', 'El Salvador', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Grenada', 'Guyana', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Kosovo under UNSCR 1244', 'Latvia', 'Lebanon',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Mongolia', 'Montenegro', 'Morocco', 'Nicaragua',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Poland', 'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Lucia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Suriname', 'Sweden', 'Switzerland',
       'Trinidad and Tobago', 'Turkey', 'United States of America',
       'Uruguay', 'Uzbekistan'], dtype=object)

In [10]:
hc_df_sorted2.to_csv('../Project_2_Team_5/Outputs/homicide_final.csv')

In [7]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     |████████████████████████████████| 384 kB 2.1 MB/s eta 0:00:01
    ERROR: Command errored out with exit status 1:
     command: /Users/jenny/opt/anaconda3/envs/PythonDataOne/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/setup.py'"'"'; __file__='"'"'/private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info
         cwd: /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/
    Complete output (23 lines):
    running egg_info
    creating /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info/psycopg2.egg-info
    writing /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info/psycopg2.egg-info/PKG-INFO
    writing dependency_links to /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info/psycopg2.egg-info/dependency_links.txt
    writing top-level names to /private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info/psycopg2.egg-info/top_level.txt
    writing manifest file '/private/var/folders/rz/g4_s08sd0yx643s06v3msvfr0000gn/T/pip-install-07x3aefd/psycopg2/pip-egg-info/psycopg2.egg-info/SOURCES.txt'

    Error: pg_config executable not found.

    pg_config is required to build psycopg2 from source.  Please add the directory
    containing pg_config to the $PATH or specify the full executable path with the
    option:

        python setup.py build_ext --pg-config /path/to/pg_config build ...

    or with the pg_config option in 'setup.cfg'.

    If you prefer to avoid building psycopg2 from source, please install the PyPI
    'psycopg2-binary' package instead.

    For further information please check the 'doc/src/install.rst' file (also at
    <https://www.psycopg.org/docs/install.html>).

    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [6]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'happiness'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

ModuleNotFoundError: No module named 'psycopg2'