In [3]:
import pandas as pd
import numpy as np

In [4]:
# Path to data set in a variable
homicide = "../Project_2_Team_5/Resources/Homicide_data.csv"

In [5]:
# Use Pandas to read data
hc_df = pd.read_csv(homicide) 
hc_df.head()

# Drop columns
hc_df_drop = hc_df.drop(columns=['Subregion', 'Region', '2020'])
hc_df_drop.head()

# Sort ascending
hc_df_sorted = hc_df_drop.sort_values(by='country', ascending=True)
hc_df_sorted.head() 

# Drop "NaN" rows
hc_df_drop_nan = hc_df_sorted.dropna()
hc_df_drop_nan

                      country     2015     2016     2017     2018     2019
1                     Albania     64.0     79.0     58.0     66.0     65.0
8                   Argentina   2837.0   2625.0   2317.0   2387.0   2303.0
9                     Armenia     75.0     87.0     70.0     50.0     73.0
11                  Australia    236.0    227.0    208.0    221.0    225.0
12                    Austria     46.0     54.0     70.0     86.0     77.0
..                        ...      ...      ...      ...      ...      ...
181       Trinidad and Tobago    420.0    463.0    494.0    516.0    538.0
183                    Turkey   2235.0   2704.0   2541.0   2154.0     26.0
192  United States of America  15883.0  17413.0  17294.0  16374.0  16425.0
194                   Uruguay    293.0    267.0    283.0    416.0    392.0
195                Uzbekistan    506.0    757.0    591.0    474.0    396.0

[83 rows x 6 columns]

In [6]:
# Flip "Years" columns in rows
hc_df_fliped = hc_df_drop_nan.melt(id_vars=["country"], 
        var_name="year", 
        value_name= "homicide_victims_by_counts_per_100,000_population")
hc_df_fliped

# Sort ascending
hc_df_sorted2 = hc_df_fliped.sort_values(by='country', ascending=True)
hc_df_sorted2.head(100)

             country  year  homicide_victims_by_counts_per_100,000_population
0            Albania  2015                                               64.0
332          Albania  2019                                               65.0
83           Albania  2016                                               79.0
249          Albania  2018                                               66.0
166          Albania  2017                                               58.0
..               ...   ...                                                ...
19   China Macao SAR  2015                                                1.0
268  China Macao SAR  2018                                                2.0
102  China Macao SAR  2016                                                1.0
351  China Macao SAR  2019                                                2.0
185  China Macao SAR  2017                                                2.0

[100 rows x 3 columns]

In [7]:
# Count ununique namber of countries
hc_df_sorted2.nunique()

country                                               83
year                                                   5
homicide_victims_by_counts_per_100,000_population    276
dtype: int64

In [8]:
# Show ununique values
hc_df_sorted2.country.unique()

array(['Albania', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus',
       'Belize', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'China Macao SAR', 'China, Hong Kong SAR',
       'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Denmark',
       'Dominica', 'Ecuador', 'El Salvador', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Grenada', 'Guyana', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Kosovo under UNSCR 1244', 'Latvia', 'Lebanon',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Mongolia', 'Montenegro', 'Morocco', 'Nicaragua',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Poland', 'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Lucia', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Suriname', 'Sweden', 'Switzerland',
       'Trinidad and Tobago', 'Turkey', 'United States of America',
       'Uruguay', 'Uzbekistan'], dtype=object)

In [10]:
hc_df_sorted2.to_csv('../Project_2_Team_5/Outputs/homicide_final.csv')