In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [11]:
# Path to data set in a variable
homicide = "../Project_2_Team_5/Resources/Homicide_data.csv"

In [12]:
# Use Pandas to read data
hc_df = pd.read_csv(homicide) 
hc_df.head()

# Drop columns
hc_df_drop = hc_df.drop(columns=['Subregion', 'Region', '2020'])
hc_df_drop.head()

# Sort ascending
hc_df_sorted = hc_df_drop.sort_values(by='country', ascending=True)
hc_df_sorted.head() 

# Drop "NaN" rows
hc_df_drop_nan = hc_df_sorted.dropna()
hc_df_drop_nan

                      country     2015     2016     2017     2018     2019
1                     Albania     64.0     79.0     58.0     66.0     65.0
8                   Argentina   2837.0   2625.0   2317.0   2387.0   2303.0
9                     Armenia     75.0     87.0     70.0     50.0     73.0
11                  Australia    236.0    227.0    208.0    221.0    225.0
12                    Austria     46.0     54.0     70.0     86.0     77.0
..                        ...      ...      ...      ...      ...      ...
181       Trinidad and Tobago    420.0    463.0    494.0    516.0    538.0
183                    Turkey   2235.0   2704.0   2541.0   2154.0     26.0
192  United States of America  15883.0  17413.0  17294.0  16374.0  16425.0
194                   Uruguay    293.0    267.0    283.0    416.0    392.0
195                Uzbekistan    506.0    757.0    591.0    474.0    396.0

[83 rows x 6 columns]

In [13]:
# Flip "Years" columns in rows
hc_df_fliped = hc_df_drop_nan.melt(id_vars=["country"], 
        var_name="year", 
        value_name= "homicide_victims_by_counts_per_100,000_population")
hc_df_fliped

# Sort ascending
hc_df_sorted2 = hc_df_fliped.sort_values(by='country', ascending=True)
hc_df_sorted2.head(100)

             country  year  homicide_victims_by_counts_per_100,000_population
0            Albania  2015                                               64.0
332          Albania  2019                                               65.0
83           Albania  2016                                               79.0
249          Albania  2018                                               66.0
166          Albania  2017                                               58.0
..               ...   ...                                                ...
19   China Macao SAR  2015                                                1.0
268  China Macao SAR  2018                                                2.0
102  China Macao SAR  2016                                                1.0
351  China Macao SAR  2019                                                2.0
185  China Macao SAR  2017                                                2.0

[100 rows x 3 columns]

In [14]:
# # Count ununique namber of countries
# hc_df_sorted2.nunique()

In [15]:
# # Show ununique values
# hc_df_sorted2.country.unique()

In [16]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'happiness'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [17]:
engine.table_names()

/Users/jenny/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['hpi_final_2015_19', 'wh_final', 'homicide_final']

In [18]:
hc_df_sorted2.to_sql(name = "homicide_final", con=engine, if_exists="append", index = False)